@font-face {
    font-family: "Actay";
    font-weight: 500;
    font-style: normal;
    src: url("./Actay-Regular.otf");
}
@font-face {
    font-family: "Actay";
    font-weight: 500;
    font-style: italic;
    src: url("./Actay-RegularItalic.otf");
}
@font-face {
    font-family: "Actay";
    font-weight: 300;
    font-style: normal;
    src: url("./ActayCondensed-Thin.otf");
}
@font-face {
    font-family: "Actay";
    font-weight: 300;
    font-style: italic;
    src: url("./ActayCondensed-ThinItalic.otf");
}
@font-face {
    font-family: "Actay";
    font-weight: 800;
    font-style: normal;
    src: url("./ActayWide-Bold.otf");
}
@font-face {
    font-family: "Actay";
    font-weight: 800;
    font-style: italic;
    src: url("./ActayWide-BoldItalic.otf");
}