@import "../../mixin.scss";
@import "../../variable.scss";

.Dashboard {
    @include flex(stretch, space-between, row, 75px);
    margin-top: 75px;
    width: 100%;
    padding: 25px 0;

    a {
        text-decoration: none
    }

    button {
        @include transition(transform 0.3s);
        &:hover {
            @include transform(translate(0, -1px))
        }
    }

    .Dashboard__user-info {
        @include flex(center, flex-start, column, 25px);
        width: 30%;
        position: relative;
        
        &::after {
            content: "";
            @include transform(translate(0, -50%));
            @include borderRadius(3px);
            display: block;
            width: 2px;
            height: 95%;
            background: $dark;
            opacity: 0.4;
            position: absolute;
            right: -35px;
            top: 50%;

        }
        
        .Dashboard__headline {
            font-family: "Harms", sans-serif;
            font-weight: 900;
            font-size: calc(20px + .5vw);
            line-height: 100%;
            color: #333333;
            text-align: center;
            &_3 {
                color: $primary;
                font-size: calc(15px + .3vw);
                font-weight: 400;
            }
        }

        .Dashboard__personal-info {
            @include flex(center, center, column, 10px);
            position: relative;
            width: 100%;

            .Dashboard__avatar {
                @include borderRadius(50%);
                height: 125px;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

            .Dashboard__subheadline {
                font-family: "Nunito Sans", sans-serif;
                font-size: calc(12px + .3vw);
                line-height: 100%;
                font-weight: 400;
                color: #141414;
                text-align: center
            }

            .Dashboard__edit-info-btn {
                @include borderRadius(50%);
                @include transition((background 0.3s, box-shadow 0.3s));
                @include flex(center, center, row, 10px);
                height: 40px;
                width: 40px;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                border: none;
                outline: none;
                background: transparent;

                &-icon {
                    height: 20px;
                    width: 20px;
                    object-fit: contain;
                }
                
                &:hover{
                    background: #ffeaea;
                    box-shadow: 0 2px 3px #00000050;
                }
            }
        }
    }
    .Dashboard__tests {
        @include flex(flex-start, flex-start, column, 25px);
        width: 70%;
        
        .Dashboard__group {
            @include flex(center, space-between, row, 25px);
            width: 100%;

            .Dashboard__headline {
                font-family: "Harms", sans-serif;
                font-weight: 900;
                font-size: calc(20px + .5vw);
                line-height: 100%;
                color: #333333;
                text-align: center;
            }

            .Dashboard__create-btn {
                @include block($primary, 5px, #ffffff, 10px 25px);
                @include flex(center, center, row, 5px);
                font-family: "Nunito Sans", serif;
                font-weight: 400;
                text-transform: uppercase;
                font-size: calc(12px + .3vw);
                line-height: 100%;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }


        .Dashboard__test-container {
            @include flex(flex-start, flex-start, column-reverse, 25px );
            width: 100%;

            .Dashboard__error {
                text-align: center;
                font-size: calc(15px + .5vw);
                color: $dark;
                opacity: 0.7;
            }
        }

    }
}

@media screen and (max-width: 800px) {
    .Dashboard {
        @include flex(stretch, space-between, column, 50px);

        .Dashboard__user-info  {
            width: 100%;

            &::after {
                display: none;
            }
        }
        .Dashboard__tests {
            width: 100%;
        }
    }
}