.Header {
  width: calc(100vw - 5px - 2px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 25px;
  padding: 25px 150px;
  z-index: 5000;
}
.Header a {
  text-decoration: none;
}
.Header .Header__logo-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 15px;
}
.Header .Header__logo-group .Header__logo-image {
  height: 50px;
  width: 50px;
  object-fit: contain;
  object-position: center;
}
.Header .Header__logo-group .Header__logo-text {
  font-family: "Harms";
  font-style: normal;
  font-weight: 400;
  font-size: calc(155x + 0.2vw);
  line-height: 100%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  color: #FFFFFF;
}
.Header .Header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}
.Header .Header__nav .Header__nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  -webkit-transition: transform 0.3s, box-shadow 0.3s;
  -moz-transition: transform 0.3s, box-shadow 0.3s;
  -ms-transition: transform 0.3s, box-shadow 0.3s;
  -o-transition: transform 0.3s, box-shadow 0.3s;
  font-weight: 400;
  font-size: calc(12px + 0.5vw);
  line-height: 125%;
  border: none;
  outline: none;
  cursor: pointer;
}
.Header .Header__nav .Header__nav-btn:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  box-shadow: 0 3px 5px rgba(20, 20, 20, 0.1882352941);
}
.Header .Header__nav .Header__nav-btn_filled {
  background: #FF8906;
  border-radius: 3px;
  color: #ffffff;
  padding: 5px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
.Header .Header__nav .Header__nav-btn_transparent {
  background: transparent;
  border-radius: 3px;
  color: #FF8906;
  padding: 5px 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 2px solid #FF8906;
}
.Header .Header__nav .Header__account-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  background: transparent;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: color 0.3s, background 0.3s;
  -webkit-transition: color 0.3s, background 0.3s;
  -moz-transition: color 0.3s, background 0.3s;
  -ms-transition: color 0.3s, background 0.3s;
  -o-transition: color 0.3s, background 0.3s;
  position: relative;
  cursor: pointer;
}
.Header .Header__nav .Header__account-nav .Header__nav-img {
  background: #eeeeee;
  border-radius: 50%;
  color: #141414;
  padding: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 4px rgba(20, 20, 20, 0.1882352941);
}
.Header .Header__nav .Header__account-nav .Header__nav-name {
  font-size: calc(14px + 0.5vw);
}
.Header .Header__nav .Header__account-nav .Header__menu {
  background: #ffffff;
  border-radius: 0 0 5px 5px;
  color: #141414;
  padding: 0 15px 15px 15px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  visibility: hidden;
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.1882352941);
}
.Header .Header__nav .Header__account-nav .Header__menu .Header__account-btn {
  background: transparent;
  border-radius: 2px;
  color: #141414;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 0;
  margin-bottom: 5px;
}
.Header .Header__nav .Header__account-nav .Header__menu .Header__account-btn .Header__account-icon {
  height: 25px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.Header .Header__nav .Header__account-nav .Header__menu .Header__account-btn:hover {
  opacity: 0.7;
}
.Header .Header__nav .Header__account-nav .Header__menu .Header__account-btn_logout {
  padding: 5px 10px;
  background: rgb(231, 31, 0);
  color: #ffffff;
  margin-bottom: 0;
}
.Header .Header__nav .Header__account-nav:hover {
  background: rgba(255, 255, 255, 0.1882352941);
  border-radius: 5px;
  color: #141414;
  padding: 10px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.Header_onlight {
  padding: 15px 25px;
  background: transparent;
}
.Header_onlight * {
  color: #141414;
}
.Header_onlight .Header__logo-group .Header__logo-text {
  color: #141414;
}

@media screen and (max-width: 800px) {
  .Header {
    padding: 25px;
  }
  .Header .Header__logo-group .Header__logo-text {
    display: none;
  }
  .Header .Header__nav {
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-end;
    align-items: stretch;
  }
  .Header .Header__nav .Header__nav-btn {
    padding: 3px 15px;
  }
  .Header .Header__nav .Header__account-nav {
    width: min(150px, 100%);
  }
  .Header .Header__nav .Header__account-nav .Header__nav-name {
    display: none;
  }
  .Header .Header__nav .Header__account-nav .Header__menu {
    border-radius: 5px 0 5px 5px;
    -webkit-border-radius: 5px 0 5px 5px;
    -moz-border-radius: 5px 0 5px 5px;
    -ms-border-radius: 5px 0 5px 5px;
    -o-border-radius: 5px 0 5px 5px;
    width: calc(100vw - 5px - 52px);
    left: 25px;
    top: calc(100% - 26px);
    position: fixed;
  }
}