.Header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 25px;
  padding: 25px 150px;
}
.Header .Header__logo-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 15px;
}
.Header .Header__logo-group .Header__logo-image {
  height: 50px;
  width: 50px;
  object-fit: contain;
  object-position: center;
}
.Header .Header__logo-group .Header__logo-text {
  font-family: "Harms";
  font-style: normal;
  font-weight: 400;
  font-size: calc(15px + 0.2vw);
  line-height: 100%;
  /* identical to box height */
  display: flex;
  align-items: flex-start;
  text-align: left;
  color: #FFFFFF;
}

@media screen and (max-width: 800px) {
  .Header {
    padding: 25px;
  }
}