@import "../../variable.scss";
@import "../../mixin.scss";

.SetPassword {
    @include flex(center, center, column, 25px);
    min-height: 100vh;
    width: 100%;
    padding: $pagePadding;
    margin-top: 75px;

    .SetPassword__headline {
        font-family: "Harms", sans-serif;
        font-size: calc(25px + .5vw);
        font-weight: 900;
        text-align: center;
    }

    .SetPassword__group {
        @include flex(stretch, center, row, 15px);
        flex-wrap: wrap;
        width: 100%;
        .SetPassword__input {
            @include block(#ffffff, 5px, $dark, 10px 15px);
            width: min(500px, 100%);
            border: none;
            outline: none;
            font-family: "Nunito Sans", sans-serif;
            font-size: calc(13px + .3vw);
            box-shadow: 0 5px 5px $shadowDark;
        }
        
        .SetPassword__submit {
            @include block($secondary, 5px, #ffffff, 10px 25px);
            font-family: "Nunito Sans", sans-serif;
            font-size: calc(13px + .3vw);
            font-weight: 700;
            border: none;
            outline: none;
            cursor: pointer;
            text-transform: uppercase;
        }
    }


    .SetPassword__warning {
        color: $deleteColor;
        font-size: calc(13px + .3vw);
    }
}

@media screen and (max-width: 800px) {
    .SetPassword {
        padding: $pagePaddingMobile;
    }
}