.SetPassword {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  min-height: 100vh;
  width: 100%;
  padding: 25px 150px;
  margin-top: 75px;
}
.SetPassword .SetPassword__headline {
  font-family: "Harms", sans-serif;
  font-size: calc(25px + 0.5vw);
  font-weight: 900;
  text-align: center;
}
.SetPassword .SetPassword__group {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  width: 100%;
}
.SetPassword .SetPassword__group .SetPassword__input {
  background: #ffffff;
  border-radius: 5px;
  color: #141414;
  padding: 10px 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: min(500px, 100%);
  border: none;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-size: calc(13px + 0.3vw);
  box-shadow: 0 5px 5px rgba(20, 20, 20, 0.1882352941);
}
.SetPassword .SetPassword__group .SetPassword__submit {
  background: #FF8906;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
  font-size: calc(13px + 0.3vw);
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}
.SetPassword .SetPassword__warning {
  color: rgb(237, 47, 0);
  font-size: calc(13px + 0.3vw);
}

@media screen and (max-width: 800px) {
  .SetPassword {
    padding: 25px;
  }
}