@import "../../mixin.scss";
@import "../../variable.scss";

.Home {
    @include flex(center, center, column, 25px);
    min-height: min(100vh, 750px);

    .Home__content-container {
        @include flex(center, center, column, 25px);

        .Home__headline {
            font-family: 'Harms';
            font-style: normal;
            font-weight: 400;
            font-size: calc(25px + 1.5vw);
            display: flex;
            align-items: center;
            text-align: center;
            line-height: 98%;
            margin-bottom: 10px;
        }

        .Home__button-container {
            @include flex(stretch, center, column, 10px);

            .Home__button {
                @include flex(center, center, row, 10px);
                @include transition((transform 0.3s, box-shadow 0.3s));
                font-weight: 400;
                font-size: calc(12px + .5vw);
                line-height: 125%;
                border: none;
                outline: none;
                cursor: pointer;

                &:hover {
                    @include transform(translateY(-2px));
                    box-shadow: 0 3px 5px #14141430
                }
            }

            .Home__button_filled {
                @include block($secondary, 5px, #ffffff, 5px 25px);
                margin-bottom: 10px;
            }

            .Home__button_transparent {
                @include block(transparent, 5px, $secondary, 5px 25px);
                border: 2px solid $secondary;
            }
        }
    }
}