.CreateTest {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
  padding: 25px 150px;
  padding-top: 100px;
}
.CreateTest * {
  color: #141414;
}
.CreateTest .CreateTest__headline {
  font-family: "Harms", sans-serif;
  font-weight: 900;
  font-size: calc(20px + 0.5vw);
  line-height: 100%;
  color: #333333;
  text-align: center;
}
.CreateTest .CreateTest__headline_3 {
  font-size: calc(18px + 0.3vw);
}

@media screen and (max-width: 800px) {
  .CreateTest {
    padding: 25px;
    padding-top: 100px;
  }
}