@import "../../variable.scss";
@import "../../mixin.scss";

.Form {
    @include flex(center, center, column, 25px);
    width: 100%;
    min-height: $minHeight;
    padding: $pagePadding;

    * {
        color: $dark
    }

    .Form__content-container {
        @include flex(flex-start, center, column, 25px);
        @include borderRadius(10px);
        padding: $pagePaddingMobile;
        width: 100%;
        height: 100%;
        background: #ffffff;

        .Form__headline {
            width: 100%;
            font-family: "Harms";
            font-size: $headlineFZ;
            line-height: 100%;
            font-weight: 600;
            text-align: center
        }

        .Form__fields {
            @include flex(flex-start, center, column, 25px);
            width: 100%;

            .Form__button {
                width: min(100%, 500px);
                @include block(#eeeeee, 5px, $dark, 10px 25px);
                @include flex(center, center, row, 15px);
                text-decoration: none;
                align-self: center;

                .Form__btn-icon {
                    height: 25px;
                    width: 25px;
                    object-fit: contain;
                    object-position: center;
                }
            }

            .Form__fields-container {
                @include flex(flex-start, center, column, 25px);
                width: 100%;

                .Form__input-container {
                    @include flex(flex-start, flex-start, column, 0);
                    width: 100%;
                    position: relative;

                    .Form__label {
                        @include transform(translate(0, -50%));
                        @include transition(0.3s);
                        pointer-events: none;
                        user-select: none;
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        font-size: 15px;
                        line-height: 100%;

                        &_file {
                            @include transform(translate(0));
                            @include transition(0);
                            @include borderRadius(5px);
                            @include flex(center, center, row, 15px);
                            pointer-events: all;
                            position: relative;
                            top: 0;
                            left: 0;
                            font-size: calc(10px + .5vw);
                            line-height: 100%;
                            cursor: pointer;
                            box-shadow: 0 4px 5px $shadowDark;
                            padding: 10px 25px;

                            img {
                                height: 25px;
                                width: 25px;
                                object-fit: contain;
                            }
                        }
                    }

                    .Form__input {
                        @include borderRadius(5px);
                        width: min(750px, 100%);
                        box-shadow: 0 4px 5px $shadowDark;
                        padding: 15px;
                        border: none;
                        outline: none;

                        &_file {
                            display: none
                        }
                    }

                    &_image {
                        @include flex(center, center, column, 15px);
                        width: auto;

                        .Form__avatar-template {
                            max-width: 150px;
                            aspect-ratio: 1/1;

                            .Form__avatar-preview {
                                @include borderRadius(50%);
                                width: 150px;
                                aspect-ratio: 1/1;
                                object-fit: cover;
                                box-shadow: 0 2px 4px $shadowDark;
                            }
                        }
                    }
                }
            }

            .Form__submit {
                @include borderRadius(5px);
                background: $secondary;
                color: #ffffff;
                padding: 10px 25px;
                border: none;
                outline: none;
                text-transform: uppercase;
                font-weight: 500;
                font-size: calc(10px + .5vw);
                cursor: pointer;
            }
        }

    }
}

@media screen and (max-width: 800px) {
    .Form {
        padding: 5px;
    }
}