.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  min-height: min(100vh, 750px);
  padding: 25px 150px;
}
.Form * {
  color: #141414;
}
.Form .Form__content-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 25px;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.Form .Form__content-container .Form__headline {
  width: 100%;
  font-family: "Harms";
  font-size: calc(20px + 1vw);
  line-height: 100%;
  font-weight: 600;
  text-align: center;
}
.Form .Form__content-container .Form__fields {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.Form .Form__content-container .Form__fields .Form__button {
  width: min(100%, 500px);
  background: #eeeeee;
  border-radius: 5px;
  color: #141414;
  padding: 10px 25px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  text-decoration: none;
  align-self: center;
}
.Form .Form__content-container .Form__fields .Form__button .Form__btn-icon {
  height: 25px;
  width: 25px;
  object-fit: contain;
  object-position: center;
}
.Form .Form__content-container .Form__fields .Form__fields-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  position: relative;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container .Form__label {
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 45%;
  left: 15px;
  font-size: 15px;
  line-height: 100%;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container .Form__label_file {
  transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -o-transform: translate(0);
  transition: 0;
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
  pointer-events: all;
  position: relative;
  top: 0;
  left: 0;
  font-size: calc(10px + 0.5vw);
  line-height: 100%;
  cursor: pointer;
  box-shadow: 0 4px 5px rgba(20, 20, 20, 0.1882352941);
  padding: 10px 25px;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container .Form__label_file img {
  height: 25px;
  width: 25px;
  object-fit: contain;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container .Form__input {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: min(750px, 100%);
  box-shadow: 0 4px 5px rgba(20, 20, 20, 0.1882352941);
  padding: 15px;
  border: none;
  outline: none;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container .Form__input_file {
  display: none;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container .Form__warning {
  color: rgb(198, 33, 0);
  font-size: 15px;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container_image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container_image .Form__info {
  color: #333333;
  font-size: 12px;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container_image .Form__avatar-template {
  max-width: 150px;
  aspect-ratio: 1/1;
}
.Form .Form__content-container .Form__fields .Form__fields-container .Form__input-container_image .Form__avatar-template .Form__avatar-preview {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(20, 20, 20, 0.1882352941);
}
.Form .Form__content-container .Form__fields .Form__submit {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #FF8906;
  color: #ffffff;
  padding: 10px 25px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: calc(10px + 0.5vw);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .Form {
    padding: 5px;
    margin: 50px 0;
  }
}