@import "../../variable.scss";
@import "../../mixin.scss";

.SecuritySettings {
    @include flex(center, center, column, 25px);
    width: 100%;

    .SecuritySettings__headline {
        font-family: "Harms", sans-serif;
        font-weight: 900;
        font-size: calc(20px + .5vw);
        line-height: 100%;
        color: #333333;
        text-align: center;
        text-transform: uppercase;

        &_3 {
            color: $primary;
            font-size: calc(15px + .3vw);
            font-weight: 400;
        }
    }

    .SecuritySettings__section {
        @include flex(flex-start, center, column, 0);
        width: 100%;

        .SecuritySettings__group {
            @include flex(flex-start, flex-start, column, 25px);
            width: 100%;
            position: relative;
            padding: 25px 0;

            &::after {
                content: "";
                @include transform(translate(-50%, 0));
                position: absolute;
                bottom: 0;
                left: 50%;
                height: 1px;
                width: 100%;
                background: $dark;
                opacity: 0.1;
            }

            &:first-child:before {
                content: "";
                @include transform(translate(-50%, 0));
                position: absolute;
                top: 0;
                left: 50%;
                height: 1px;
                width: 100%;
                background: $dark;
                opacity: 0.1;
            }

            .SecuritySettings__row {
                @include flex(center, flex-start, column, 25px);
                width: 100%;
                position: relative;

                .SecuritySettings__label {
                    @include transition(0.3s);
                    position: absolute;
                    top: 15px;
                    left: 15px;
                    pointer-events: none;
                    user-select: none
                }

                .SecuritySettings__show-password {
                    @include flex(center, center, row, 15px);
                    position: absolute;
                    right: 15px;
                    top: 10px;
                    border: none;
                    outline: none;
                    background: transparent;

                    img {
                        height: 25px;
                        aspect-ratio: 1/1;
                        cursor: pointer;
                        pointer-events: none
                    }
                }

                .SecuritySettings__warning {
                    color: $deleteColor
                }
            }

            .SecuritySettings__input {
                @include borderRadius(5px);
                width: min(750px, 100%);
                box-shadow: 0 0 3px $shadowDark;
                padding: 15px;
                border: none;
                outline: none;
                font-family: "Nunito Sans", sans-serif;
                font-size: calc(12px + .2vw);
            }


            .SecuritySettings__btn {
                @include transition(transform 0.3s);
                @include block($secondary, 5px, #ffffff, 10px 25px);
                font-size: calc(13px + .3vw);
                font-weight: 400;
                line-height: 100%;
                border: none;
                outline: none;
                cursor: pointer;
                text-transform: uppercase;

                &_reset {
                    background: $deleteColor;
                }

                &_save {
                    background: $accent;
                }

                &:hover {
                    @include transform(translate(0, -2px))
                }
            }
        }
    }
}