@import "reset";
@import "../Fonts/Actay/Actay.css";
@import "../Fonts/Harms/Harms.css";
@import "../Components/variable.scss";

* {
    color: #ffffff;
}

body {
    background-color: #ffffff;
}

::-webkit-scrollbar {
    width: $scrollbarWidth;
}

::-webkit-scrollbar-thumb {
    background: $accent;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(23, 109, 23);
}